:root {
  --bg-color: #f5f5f5;
  --text-color: #1a1a1a;
  --gray-color: #bebebe;
  --heading-color: #b83f45;
  --hover-color: #30d5c8;
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
  --font-size-desktop-b: 5rem;
  --font-size-desktop-m: 1.5rem;
  --font-size-desktop-s: 1rem;
  --font-size-mobile-b: 4.5rem;
  --font-size-mobile-m: 1.4rem;
  --font-size-mobile-s: 0.9rem;
}

* {
  box-sizing: border-box;
}

*::selection {
  background: var(--heading-color);
}



.body {
  display: flex;
  flex-flow: column wrap;
  align-items: center;

  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
}

.body__heading {
  color: var(--heading-color);
  font-size: var(--font-size-desktop-b);
  font-weight: 200;
  margin: 2rem 0;
}

.sheet {
  max-width: 550px;
  width: 100%;
  padding: 1.5rem;
}

.sheet__toggle-all {
  position: absolute;
  visibility: hidden;
}

.sheet__toggle-all-label {
  position: relative;
  content: url('public/arrow-toggle.svg');
  bottom: -2.8rem;
  left: 1rem;
}

.sheet__toggle-all-label:hover {
  cursor: pointer;
  opacity: 0.6;
}

.sheet__toggle-all-label_hidden {
  visibility: hidden;
}

.sheet__clear-complete {
  align-self: center;
  border: 2px solid transparent;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sheet__clear-complete:hover {
  border: 2px solid var(--heading-color);
}

.sheet__clear-complete:active {
  color: var(--heading-color);
}

.sheet__clear-complete-hidden {
  visibility: hidden;
}

.sheet__input {
  background-color: #fff;
  color: var(--text-color);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 4px;
  font-size: var(--font-size-desktop-m);
  padding: 1.2rem 1rem 1.2rem 3.5rem;
  width: 100%;
}

.sheet__input::placeholder {
  font-style: italic;
  opacity: 0.8;
}

.sheet__input:focus {
  outline: solid 1px #b83f45;
  box-shadow: 0 0 10px #b83f45;
}

.sheet__input_listed {
  border-radius: 4px 4px 0 0;
}

.sheet__list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  background-color: #fff;
  color: var(--text-color);
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid var(--gray-color);
  font-size: var(--font-size-desktop-m);
  padding: 1.2rem 1rem 1.2rem 0.5rem;
  width: 100%;
}

.sheet__inner-list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  overflow-x: auto;
  gap: 2rem;
  width: 100%;
}

.sheet__checkbox {
  visibility: hidden;
  position: absolute;

}


.sheet__checkbox-label {
  cursor: pointer;
}

.sheet__checkbox-label::after {
  display: block;
  content: '';
  border: 1px solid var(--gray-color);
  min-height: 30px;
  min-width: 30px;
  max-height: 35px;
  max-width: 35px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.sheet__checkbox:hover~.sheet__checkbox-label::after {
  border: 1px solid var(--hover-color);
  min-height: 30px;
  min-width: 30px;
  max-height: 35px;
  max-width: 35px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.sheet__checkbox:checked~.sheet__checkbox-label::after {
  content: url('public/checkbox-checked.svg');
  text-align: center;
  line-height: 2rem;
  border: 1px solid green;
}

.sheet__checkbox:checked~.sheet__label {
  text-decoration: line-through;
  color: var(--gray-color);
}

.sheet__list:hover .sheet__delete {
  visibility: visible;
}

.sheet__checkbox:hover {
  border-color: var(--hover-color);
}

.sheet__label {
  margin: 0;
  overflow-wrap: break-word;
  width: 85%;
  outline: none;
  margin: 2px;
}


.sheet__label:focus-within {
  outline: 2px solid var(--heading-color);
  margin: 2px;
  caret-color: var(--hover-color);
  caret: var(--hover-color);
}

.sheet__div {
  width: 100%;
}

.sheet__delete {
  visibility: hidden;
  position: relative;
  right: 1vw;
  color: var(--heading-color);
  font-size: 2rem;
  background: none;
  border: none;
  padding: 0;
  max-height: 40px;
}

.sheet__delete:hover {
  color: var(--hover-color);
  cursor: pointer;
}

.sheet__bottom {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 40px;
  background-color: white;
  justify-content: center;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 8px var(--gray-color);
}

.sheet__bottom::before {
  z-index: -1;
  position: relative;
  display: block;
  align-self: center;
  content: '';
  width: 98%;
  height: 46px;
  background-color: white;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 8px var(--gray-color);
}

.sheet__bottom::after {
  z-index: -4;
  position: relative;
  display: block;
  align-self: center;
  content: '';
  width: 96%;
  height: 6px;
  top: -3.1rem;
  background-color: white;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 8px var(--gray-color);
}


.sheet__bottom_hidden {
  display: none;
}

.sheet__bottom-content {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  position: relative;
  width: 100%;
  top: -3.1rem;
  font-size: var(--font-size-desktop-s);
  padding: 0 1rem;
}

.sheet__filter-block {
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
  align-items: center;

}

.sheet__filter {
  position: absolute;
  visibility: hidden;
}

.sheet__filter-label {
  visibility: visible;
  padding: 2px;
  margin: 4px;
  border-radius: 2px;
  border: 2px solid transparent;
}

.sheet__filter-label:hover {
  border: 2px solid var(--heading-color);
}

.sheet__filter-label_active {
  border: 2px solid var(--heading-color);
}

@media (max-width: 1280px) {

  .body__heading {
    font-size: var(--font-size-mobile-b);
  }

  .sheet__list {
    font-size: var(--font-size-mobile-m);
  }

  .sheet__delete {
    visibility: visible;
  }
}

@media (max-width: 1024px) {
  .sheet__input {
    font-size: var(--font-size-mobile-m);
  }

  .sheet__bottom::after {
    top: -2.8rem;
  }

  .sheet__bottom-content {

    font-size: var(--font-size-mobile-s);
    top: -3rem;
  }
}